.DraftEditor-root{
    height: 80%;
    width: 80%;
    background-color: white;
    margin: 10% 0% 10% 10%;
    float: left;
}

.DraftEditor-editorContainer{
    height: 100%;
    background-color: white;
}
.public-DraftEditor-content{
    height: 100%;
    background-color: white;
}